@import "@{templateCommon}/basekit-bootstrap.less";

.wrapper {
    width: 90%;
    margin: 0 5%;
    @media only screen and (min-width: 1140px) {
        width: 960px;
        margin: 0 auto;
    }
}

.main {
    background-color: @color-swatch2;
    padding: 3em;
    margin: 0 5% 5%;
    @media only screen and (min-width: 1140px) {
        margin: 0 auto 10em;
        background-color: @color-swatch2;
        padding: 3em;
    }
    @media @mobile {
        padding: 2em;
    }
}

.main, .home-feature {
    width: 90%;
    clear: both;
    margin: 0 5%;
    @media only screen and (min-width: 1140px) {
        width: 1024px;
        margin: 0 auto;
    }
}

/* ===============================
   HEADER & FOOTER
   =============================== */

.bk-header, .bk-footer {
    width: 78%;
    clear: both;
    margin: 0 11%;
    text-align: center;
    @media only screen and (min-width: 1140px) {
        width: 850px;
        margin: 0 auto;
    }
    @media @mobile {
        width: 90%;
        margin: 0 5%;
    }
}

.bk-footer {
    text-align: center;
    background-color: @color-swatch7;
    margin-bottom: 2em !important;
    padding: 2% 5%;
}

.companyheader {
    margin: 4em 0;
    width: 100%;
    float: left;
    @media @mobile {
        margin: 2em 0;
    }
    .logo, .companyname {
        text-align: center;
    }
}

.header-info {
    background-color: @color-swatch7;
    padding: 2% 5%;
    clear: both;
    @media @mobile {
         padding: 2% 5% 5%;
    }
}

.header-info .widget.clicktocall a {
    color: @font-swatch6-color;
    @media @mobile {
        background-image: image('/images/icon-phone-grey.png');
        color: @font-swatch6-color;
        background-color: @color-swatch7;
    }
    &:hover {
        @media @tablet {
            cursor: text;
        }
        @media @mobile {
            background-color: darken(@color-swatch7,5%);
            cursor: pointer;
        }
    }
}

.svg .header-info .widget.clicktocall a, .svg .bk-footer .widget.clicktocall a  {
    @media @mobile {
        background-image: image('/images/icon-phone-grey.svg');
        background-size: @font-swatch7-font-size;
        padding: 15px 10px 15px 30px;
    }
}

.header-info .widget.profile .bk-profile-email a, .bk-footer .widget.profile .bk-profile-email a {
    color: @font-swatch6-color;
    @media @mobile {
        padding: 10px 0;
    }
}

.header-info .widget.profile .bk-profile-address p, .bk-footer .widget.profile .bk-profile-address p {
    display: inline-block;
    padding-right: 5px;
    color: @font-swatch6-color;
}

.header-info .widget.profile span, .bk-header .widget.profile .twitter .twitter-content p, .bk-footer .widget.profile span, .bk-footer .widget.profile .twitter .twitter-content p {
     color: @font-swatch6-color;
}

.header-info .widget.profile, .bk-footer .widget.profile  {
    .twitter, .map, form {
         margin: 2% 0 0;
    }
}

.header-info .widget.profile form fieldset input, .bk-footer .widget.profile form fieldset input {
    border: 1px solid darken(@color-swatch7,7%);
    margin-bottom: 10px;
    background-color: lighten(@color-swatch7,6%);
    width: 40%;
    text-align: center;
    @media @tablet {
        width: 100%;
    }
}

/* ===============================
   EXTENDED NAVIGATION
   =============================== */

.widget.extendednavigation .bk-overlay {
    width: inherit !important;
    left: 0 !important;
}

.widget {
    &.extendednavigation {
        background-color: @color-swatch7;
        padding: 2% 5%;
        width: 100%;
        float: left;
        @media @tablet {
            min-height: 45px;
        }
        ul {
            li {
                padding: 0;
                float: none;
                display: inline-block;
                @media @tablet {
                    border-top: 1px solid fade(@color-swatch1,90%);
                    border-bottom: none;
                }
                a {
                    padding: 5px 20px;
                    @media @tablet {
                        padding: 9px 0;
                    }
                }
                &.folder {
                    ul li a {
                        padding: 0;
                    }
                    .text {
                        padding: 5px 20px;
                        @media @tablet {
                            padding: 9px 0px;
                        }
                    }
                    &:after {
                        right: 0;
                        border-top-color: @font-swatch6-color;
                    }
                    &:hover:after {
                        border-top-color: @font-swatch6-color-hover;
                    }
                }
            }
            li:hover ul {
                margin: 0;
                background-color: darken(@color-swatch7,3%);
                li {
                    padding: 0;
                    a {
                        padding: 0;
                    }
                    .text {
                        padding: 9px 0;
                    }
                    &:first-child {
                        padding-top: 10px;
                        @media @tablet {
                            padding-top: 0;
                        }
                    }
                    &:last-child {
                        padding-bottom: 10px;
                        @media @tablet {
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
        a {
            &.pull {
                @media @tablet {
                    top: 15px;
                    left: 50%;
                    width: 26px;
                    margin-left: -13px;
                }
            }
            &.pull:after {
                background: @font-swatch6-color;
                box-shadow: 0 6px 0 @font-swatch6-color, 0 12px 0 @font-swatch6-color;
            }
        }
    }
}

div.widget.extendednavigation ul.align-left {
    li.folder .text {
        padding: 5px 9px 5px 0;
    }
}

// Selected state

.extendednavigation ul li.selected, .extendednavigation ul li:hover ul li.selected, .extendednavigation ul li.folder.selected ul li.selected, .extendednavigation ul li.folder.selected {
    a, .text {
        color: @font-swatch6-color-hover;
        text-decoration: underline;
    }
}

.extendednavigation ul li.folder.selected ul li .text {
    color: @font-swatch6-color;
}

/* ===============================
   FEATURE = IMAGE WIDGET
   =============================== */

.widget.image {
    background-color: @color-swatch2;
    img.image {
        margin-bottom: 1.5em;
        @media @mobile {
            margin: 0 auto;
        }
    }
    span.image-title {
        font-family: @font-swatch8-font-family;
        font-size: @font-swatch8-font-size;
        font-weight: @font-swatch8-font-weight;
        line-height: @font-swatch8-line-height;
        color: @font-swatch8-color;
        letter-spacing: @font-swatch8-letter-spacing;
        width: 100%;
        padding: 1% 5% 0;
        margin: 0;
        clear: both;
        &:hover {
            text-decoration: none;
        }
    }
    span.image-description {
        font-family: @font-swatch9-font-family;
        font-size: @font-swatch9-font-size;
        font-weight: @font-swatch9-font-weight;
        line-height: @font-swatch9-line-height;
        color: @font-swatch9-color;
        letter-spacing: @font-swatch9-letter-spacing;
        width: 100%;
        padding: 1% 5%;
        margin: 0;
        clear: both;
        &:hover {
            text-decoration: none;
        }
    }
    &:hover {
        span.image-title, span.image-description {
            text-decoration: none;
            color: @color-swatch4;
        }
    }
}

.main .widget.image { 
    margin-bottom: 2em;
}

/*  ===============================
    BLOCK QUOTE
    =============================== */

blockquote {
    &:before {
        color: @color-swatch3;
    }
}

/*  ===============================
    FORMS
    =============================== */

.contactform label {
    margin-bottom: 10px;
}

.contactform input, .widget.signupform form fieldset input, .widget.profile form fieldset input {
    border-bottom: 1px solid darken(@color-swatch1,7%);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-bottom: 20px;
    background-color: @color-swatch2;
    width: 100%;
    text-indent: 0;
}

.contactform textarea {
    border: 1px solid darken(@color-swatch1,7%);
    background-color: transparent;
    margin-bottom: 5px;
    padding-right: 0;
    width: 100%;
    height: 42px;
}

.blogsearch {
    text-align: center;
    form {
        label {
            @media @mobile {
                margin-bottom: 20px;
                display: block;
            }
        }
        input {
            -webkit-appearance: none;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
            background-color: @color-swatch2;
            padding: 0;
            text-indent: 0;
            height: 42px;
            border: 1px solid darken(@color-swatch1,7%);
            margin-bottom: 20px;
            margin-right: 5px;
            @media @mobile {
                width: 100%;
            }
        }
    }
}

/*  ===============================
    BUTTONS
    =============================== */

.widget.button button,
button.btn, 
.widget.profile form button, 
.signupform fieldset button, 
.contactform button.btn, 
.btn, 
.blogsearch form button, 
.checkout-order-button, 
.checkout-empty-link,
.tweet a,
.widget.paypalbuynow .widget.button.paypal,
.blog-post-more-link a,
a.basket-summary-empty-cta.btn, 
.btn.basket-summary-submit,
a.blog-post-pagination-page {
    font-family: @font-swatch7-font-family;
    color: @font-swatch7-color;
    font-size: @font-swatch7-font-size;
    font-weight: @font-swatch7-font-weight;
    line-height: @font-swatch7-line-height;
    background-color: @font-swatch7-background-color;
    border: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    margin: 5px 0;
    padding: 8px 18px;
    text-decoration: none;
    @media @mobile {
        padding: 10px 15px;
    }
    &:hover {
        background-color: @font-swatch7-background-color-hover;
    }
} 

a.basket-summary-empty-cta.btn {
    font-weight: 400 !important;
}

.widget.profile form button, 
.signupform fieldset button, 
.contactform button.btn, 
.blogsearch form button, 
.checkout-order-button, 
.checkout-empty-link,
.form-group.productlist-search .btn {
    @media @mobile {
        width: 100%;
        padding: 10px;
    }
}

.tweet {
    margin: 5px 0;
}

.widget.clicktocall {
    @media @mobile {
        height: 49px;
        margin: 5px 0;
    }
    a {
        @media @mobile {
            font-family: @font-swatch7-font-family;
            color: @font-swatch7-color;
            font-size: @font-swatch7-font-size;
            font-weight: @font-swatch7-font-weight;
            line-height: @font-swatch7-line-height;
            background-color: @font-swatch7-background-color;
            border: none;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
            border-radius: 50px;
            margin: 5px 0;
            &:hover {
                background-color: @font-swatch7-background-color-hover;
            }
        }
    }
}

.widget.ecombasket .ecombasket-pull, .ecombasket-checkout-link {
    background-color: @font-swatch7-background-color;
    border: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    &:hover {
        text-decoration: none;
    }
    @media @mobile {
        width: 100%;
        display: block;
        text-align: center;
    }
} 

.widget.paypalbuynow .widget.button.paypal {
    background-position: 20px;
    padding: 10px 20px 10px 48px;
}

/* SVG Icons */

.svg {
    .widget.ecomproduct .ecom-product .btn.ecom-product-add-to-cart-btn.added .text:before {
        background-image: none;
    }
}
    
/* PNG Icons */

.widget.ecombasket .ecombasket-pull p:before,
.widget.ecomproduct .ecom-product .btn.ecom-product-add-to-cart-btn .text:before {
    height: 15px;
    width: 19px;
    margin: 0 14px 0 0;
    top: 3px;
}

.widget.ecomproduct .ecom-product .btn.ecom-product-add-to-cart-btn.added .text:before {
    background-image: none;
}

.widget.ecomproduct .ecom-product .btn.ecom-product-add-to-cart-btn {
        @media @mobile {
        width: 100%;
        display: block;
        text-align: center;
    }
}

/* ===============================
   TWITTER
   =============================== */

.widget.twitter .bk-full-name {
    color: @color-swatch3;
}

.widget.twitter ul li span a {
    color: @color-swatch3;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

/*  ===============================
    SOCIAL ICONS
    =============================== */

.widget.profile .bk-profile-socialicons span a,
.widget.socialicons span a  {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-color: @color-swatch3;
}

.widget.profile .bk-profile-socialicons span a:hover, .widget.socialicons span a:hover {
    background-color: darken(@color-swatch3,8%);
}

/*  ===============================
    DIVIDER WIDGET
    =============================== */

hr {
    &.line {
        background-color: @color-swatch3;
        height: 1px;
    }
}

/* ===============================
   SLIDESHOW WIDGET
   =============================== */

.widget.responsiveslideshow {
    .slideshow-image-list,
    .slideshow-widget {
        min-height: 450px;
        @media @tablet {
            min-height: 350px;
        }
        @media @mobile {
            min-height: 280px;
            height: 280px;
        }
    }
    .title {
        display: block;
        color: @color-swatch5;
    }
    .description {
        color: @color-swatch5;
    }
    .content-wrapper {
        background: @color-swatch2;
        text-align: center;

    }
    .slideshow-widget {
        /* Arrows */
        .btn-prev,
        .btn-next {
            font-size: 0;
            z-index: 11;
            text-indent: -99999px;
            width: 40px;
            height: 40px;
            background: rgba(0,0,0,0.5);
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }
        .btn-prev {
            &:after {
                content: "\2190";
                color: #fff;
                top: 7px;
            }
        }
        .btn-next {
            &:after {
                content: "\2192";
                color: #fff;
                top: 7px;
            }
        }
        /* Play Button */
        .btn-play {
            background: rgba(0,0,0,0.5);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            left: 45%;
            top: 43%;
            &:after {
                color: #fff;
                letter-spacing: -4px;
                top: 2px;
            }
            @media @mobile {
                width: 40px;
                height: 40px;
                &:after {
                    font-size: 15px;
                    line-height: 36px;
                    width: 40px;
                }
            }
        }
    }
    /* Slideshow Controls */
    .slideshow-widget-controls {
        .dot {
            width: 11px;
            height: 11px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            &.selected {
                background-color: @color-swatch3;
            }
        }
    }
}

/* ===============================
   GALLERY WIDGET
   =============================== */

.widget.gallery {
    margin: 20px 0 20px -0.5%;
    ul li {
        @media @tablet {
            width: 50%;
            padding-bottom: 50%;
        }
        @media @mobile {
            width: 100%;
            padding-bottom: 100%;
        }
        span.inner {
            .title,
            .description {
                // Font
                color: @color-swatch1;
                font-family: @font-swatch4-font-family;
                letter-spacing: @font-swatch4-letter-spacing;
                text-align: left;
            }
            .title {
                font-size: 19px;
                font-weight: 600;
                line-height: 26px;
            }
            .description {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
    // Image Data
    .image-data {
        display: block;
        opacity: 0;
        background-color: @color-swatch6;
        -webkit-transition: all 0.4s ease-out;
        -moz-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
        &:hover {
            opacity: 1;
        }
    }
}

/* Lightbox */

.lb-data .lb-caption, .lb-data .lb-number {
  font-family:@font-swatch5-font-family;
  font-size:@font-swatch5-font-size;
  font-weight: @font-swatch5-font-weight;
  line-height:@font-swatch5-line-height;
  color:lighten(@font-swatch5-color,50%);
}

.lb-data .lb-number {
  font-size:bkscale(@font-swatch5-font-size,0.9);
}

/* ===============================
   MENU SECTIONS NAVIGATION
   =============================== */

.widget {
    &.menusections {
        text-align: center;
        padding: 0.5em 0 0;
        @media @tablet {
            margin-top: 1.5em;
        }
        @media only screen and (max-width: 550px) {
            padding:0;
            margin-top:0;
            padding: 0 0 0;
        }
        ul {
            display: table;
            width: 100%;
            margin: 0 auto;
            list-style: none;
            padding: 0;
            li {
                display: inline-block;
                padding: 0 15px 10px 0;
                margin: 0;
                &:last-child {
                    padding-right: 0;
                    @media only screen and (max-width: 550px) {
                        border-bottom: 1px solid darken(@color-swatch1,7%);
                    }
                }
                @media only screen and (max-width: 550px) {
                    width: 100%;
                    border-top: 1px solid darken(@color-swatch1,7%);
                    padding: 15px 0 10px 0;
                }
                a {
                    &:hover {
                        color: @font-swatch6-color;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

/* ===============================
   MENU
   =============================== */

.widget {
    &.menu {
        .clearfix;
        .main {
            width: 100%;
            margin: 0 auto;
            border: none;
            display: none;
            &.selected {
                display: block;
            }
            .menu-header, .menu-subsection-header { /* SECTION AND SUB-SECTION HEADERS */
                text-align: center;
                padding: 2em 0;
            }
            .menu-items {
                .menu-item {
                    width: 100%;
                    display: inline-block;
                    border-bottom: 1px dotted darken(@color-swatch1,15%);
                    position: relative;
                    &.menu-item-promoted { /* menu-item-promoted */
                        display: inline-block;
                        .inner-item {
                            &:before { 
                                content: "\2605";
                                font-size: 20px;
                                position: absolute;
                                top: 20px;
                                left:0;
                                z-index: 999;
                                color: @color-swatch3;
                            }
                            h3 {
                                padding-left: 25px;
                                color: @color-swatch3;
                            }
                        }  
                    }/* end menu-item-promoted */
                    .inner-item {
                        .menu-item-image-wrap {
                            background-size:cover;
                            background-repeat: no-repeat;
                            height: 200px;
                            background-position: center;
                            margin: 5px 0;
                            img {
                                display: none;
                            }
                        }
                        .menu-item-price p {
                            font-family:@font-swatch3-font-family;
                            font-size:@font-swatch3-font-size;
                            font-weight: @font-swatch3-font-weight;
                            line-height:@font-swatch3-line-height;
                            color: @font-swatch3-color;
                            letter-spacing: @font-swatch3-letter-spacing;
                            padding: 0px;
                            margin: 0;
                            display: inline-block;
                        }
                        .menu-section-item-dietary-props {
                            float: left;
                            width: 100%;
                            margin-top: 0px;
                            padding: 0 0 0 1px;
                           .dietary-icon {
                                margin-right: 0px;
                                margin-bottom: 5px;
                                padding: 0 3px;
                                position: relative;
                                &:before { 
                                    content: "\2605";
                                    font-size: 10px;  
                                    color: @color-swatch3;
                                }
                            }
                            .not-spicy-icon {
                                display: none;
                            }
                        } /* end menu-section-item-dietary-props */
                    } /* end inner-item */
                }/* end menu-item */
            }/* end menu-items */
            .menu-subsection {
                padding: 0;
                margin: 0;
                .menu-subsection-promoted { /* PROMOTED SUB-SECTION */ 
                    border: 1px solid lighten(@color-swatch7,5%);
                    background-color: lighten(@color-swatch7,11%);
                    padding: 0 2em 2em;
                    margin: 2em 0 1em;
                    position: relative;
                    @media @mobile {
                        padding: 0 2em 0;
                    }
                    .menu-subsection-header {
                        margin: 20px 0;
                        padding: 2em 0;
                        @media @mobile {
                            padding: 0;
                        }
                        h2 {
                            color: @color-swatch3;
                        }
                    }
                } /* end PROMOTED SUB-SECTION */
            }/* end menu-section */
            .menu-info {
                text-align: center;
                p { /* menu-note */
                  padding: 2em 0;
                }
            } /* end menu-info */
        }/* end main */
    }/* end menu */
}/* end widget */

/* ===============================
   BLOG LIST POSTS
   =============================== */

.blog-post-item {
    margin: 1em 0;
    .blog-post-feature-image-wrap {
        background-position: center bottom;
        background-size: contain;
        background-repeat: no-repeat;
        min-height: 400px;
        margin-bottom: 2em;
        img {
            display: none;
        }
        @media @tablet {
            min-height: 300px;
        }
        @media only screen and (max-width: 650px) {
            min-height: 200px;
        }
    }/* end blog-post-feature-image-wrap */
    p.blog-post-more-link {
        padding: 2.3em 0 1.5em;
    }
}

/* ===============================
   BLOG POST
   =============================== */

.blog-post-item {
    text-align: center;
    footer.blog-post-metadata {
        margin: 1.5em;
    }

}

/* ===============================
   BLOG POST SHARING
   =============================== */

.blog-post-sharing {
    margin: 2.8em 0;
    .btn.facebook {
        background-color: #3b5998;
        &:hover {
          background-color: darken(#3b5998,10%);
        }
    }
    .btn.twitter {
        background-color: #4099FF;
        &:hover {
          background-color: darken(#4099FF,10%);
        }
    }
    .btn.googleplus {
        background-color: #d34836;
        &:hover {
          background-color: darken(#d34836,10%);
        }
    }
}

/* ===============================
   BLOG TIME
   =============================== */

time.blog-post-published-date, footer.blog-post-metadata time {
    padding: 1em 2em;
    display: inline-block;
}

time.blog-post-published-date {
    margin: 0 0 1.5em;
}

footer.blog-post-metadata time {
    margin: 1.5em 0;
}

/* ===============================
  ECOM - BASKET
   =============================== */

.widget.ecombasket {
    margin: 1em 0 2em;
    .ecombasket-list-container {
        ul {
            li {
                border-bottom: 1px dotted darken(@color-swatch1,15%);
                .ecombasket-item-image {
                    width: 96px;
                    height: 96px;
                }
                .ecombasket-item-info {
                    .ecombasket-item-title, .ecombasket-remove-button {
                        color: @color-swatch5;
                        text-decoration: underline;
                        &:hover {
                            color: @color-swatch3;
                        }
                    }
                }
            }
        }
    }
}

/* ===============================
  ECOM - FEATURED PRODUCTS
   =============================== */

.ecom-featuredproducts-header h2 {
    text-align: center;
    padding: 1em 0 2em;
    @media @tablet {
        padding: 1em;
    }
}

.widget.ecomfeaturedproducts .ecom-featuredproducts-wrap.odd.products-1 .ecom-featuredproducts-product .ecom-featuredproducts-image-wrap {
    background-position: left center;
}

.widget.ecomfeaturedproducts .ecom-featuredproducts-wrap .ecom-featuredproducts-product {
    margin-bottom: 1em;
    .ecom-featuredproducts-image-wrap {
        background-color: @color-swatch2;
        margin-bottom: 1em;
    }
}
.ecom-featuredproducts-info {
    padding: 0 0 20px;
    .ecom-featuredproducts-title {
        font-family: @font-swatch8-font-family;
        font-size: @font-swatch8-font-size;
        font-weight: @font-swatch8-font-weight;
        line-height: @font-swatch8-line-height;
        color: @font-swatch8-color;
    }
    .ecom-featuredproducts-price {
        color: @font-swatch5-color;
    }
}

.widget.ecomfeaturedproducts p {
    margin-left: 3%;
}

/* ===============================
  ECOM - PRODUCTLIST
   =============================== */

.widget.ecomproductslist {
    .productlist-filter {
        margin-bottom: 1em;
        @media @mobile {
            margin: 0;
        }
        .productlist-display-form {
            .form-group {
                display: inline-block;
                @media @mobile {
                    width: 100%;
                }
                &.productlist-search {
                    input {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        -webkit-border-radius: 0;
                        height: 35px;
                        border: 1px solid darken(@color-swatch2,7%);
                        background-color: darken(@color-swatch2,3%);
                        @media @mobile {
                            width: 100%;
                            margin-bottom: 20px;
                            height: 45px;
                            border: 1px solid darken(@color-swatch2,8%);
                        }
                    }
                    .btn {
                        padding: 4px 14px;
                        @media @mobile {
                            padding: 8px 14px;
                        }
                    }
                }
            }
        }
    }
    .ecom-productslist-product {
        margin-top: 2em;
        .ecom-productslist-image-wrap {
            margin-bottom: 1em;
            background-color: @color-swatch2;
        }
        .ecom-productlist-info {
            .ecom-productslist-title {
                font-family: @font-swatch8-font-family;
                font-size: @font-swatch8-font-size;
                font-weight: @font-swatch8-font-weight;
                line-height: @font-swatch8-line-height;
                color: @font-swatch8-color;
                padding: 0;
            }
            span.ecom-productlist-price {
                color: @font-swatch5-color;
            }
        }
        &:hover {
            .ecom-productlist-info {
                .ecom-productslist-title, .ecom-productlist-price {
                    color: @color-swatch3;
                }
            }
        }
    }
    .productlist-pagination {
        margin-left: 3%;
        border-top: 1px solid darken(@color-swatch1,7%);
        padding-top: 1em;
        margin-top: 3em;
    }
}

select {
    background-position-x: 93%;
    background-position-y: 55%;
    cursor: pointer;
    position: relative;
    margin-bottom: 12px;
    padding: 8px;
    border: 1px solid darken(@color-swatch2,7%);
    color: @color-swatch5;
    height: 35px;
    line-height: 34px;
    @media @mobile {
        width: 100%;
        height: 45px;
        border: 1px solid darken(@color-swatch2,8%);
    }
}
select[name="displayCount"] {
    margin-bottom: 0;
}

/* ===============================
  ECOM - PRODUCT
   =============================== */

.widget.ecomproduct {
    padding: 3em 0;
}

.widget.ecomproduct .ecom-product .ecom-product-images-container {
    .ecom-product-preview-image-wrap {
        background-image: none !important;
        background-repeat: no-repeat;
        height: auto;
        img {
            display: block;
            max-width: 100%;
        }
    }
}

.widget.ecomproduct .ecom-product .ecom-product-info {
    .ecom-product-variation {
        padding-top: 10px;
        @media @mobile {
            padding: 2em;
            border: 1px solid darken(@color-swatch1,3%);
            background-color: @color-swatch1;
        }
    }
}

span.ecom-product-category {
    @media @mobile {
        margin-bottom: 10px;
    }
}

.widget.ecomproduct .ecom-product .btn.ecom-product-add-to-cart-btn.added {
    color: #ffffff;
}

.widget.ecomproduct .ecom-product .btn.ecom-product-go-to-checkout-btn:hover {
    text-decoration: none;
}

.ecom-product-long-description {
    margin: 2em 0;
}

/* ===============================
  ECOM - BASKET SUMMARY
   =============================== */

.widget.ecombasketsummary {
    h2 {
        padding: 1em 0;
        @media @mobile {
            padding: 0.5em 0;
        }
    }
    .basket-summary-empty-copy {
        padding: 0 0 3em;
    }
    .basket-summary-items-table {
        border-spacing: 0;
        width: 100%;
        tr {
            width: 100%;
            th, td {
                border-bottom: 1px solid fade(@color-swatch5,10%);
                padding: 1.5em 0;
                text-align: left;
                &:nth-child(1) {
                    width: 10%;
                    padding-left: 5px;
                    @media @tablet {
                        width: 15%;
                    }
                }
                &:nth-child(2) {
                    width: 68%;
                }
                &:nth-child(3) {
                    text-align: right;
                    padding: 1.5em 0.5em;
                }
            }
            th {
                padding: 1.5em 0.5em;
                vertical-align: bottom;
            }
            @media only screen and (max-width: 500px) {
                display: table;
                th:nth-child(3) {
                    display: none;
                }
                td {
                    padding: 1em 0 0;
                    float: left;
                    width: 100%;
                    border-bottom: none;
                    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
                        width: 100%;
                    }
                    &:nth-child(3) {
                        text-align: left;
                        padding: 0 0 1em;
                        color: @color-swatch4;
                        border-bottom: 1px solid fade(@color-swatch5,10%);
                    }
                    &.basket-summary-amount {
                        padding: 1em 0;
                    }
                }
            }
            &.basket-summary-items {
                td {
                    vertical-align: top;
                    .image-wrap {
                        width: 95px;
                        height: 95px;
                        background-position: center center;
                        background-repeat: no-repeat;
                        -webkit-background-size: cover;
                        -moz-background-size: cover;
                        -o-background-size: cover;
                        background-size: cover;
                        overflow: hidden;
                        float: left;
                        margin-right: 20px;
                        img {
                            display: none;
                        }
                    }
                    .basket-summary-productname, .basket-summary-pricepu {
                        display: block;
                    }
                    .basket-summary-productname {
                        text-decoration: underline;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                    .basket-summary-quantity {
                        padding-right: 5px;
                        padding-bottom: 5px;
                        display: block;
                    }
                    .basket-summary-quantitybtn {
                        background-color: transparent;
                        button {
                            background-color: darken(@color-swatch1,3%);
                            margin: 0;
                            font-size: 1em;
                            line-height: normal;
                            color: @color-swatch5;
                            border: 1px solid darken(@color-swatch1,10%);
                            -webkit-border-radius: 4px;
                            -moz-border-radius: 4px;
                            border-radius: 4px;
                            &:hover {
                                background-color: darken(@color-swatch1,13%);
                            }
                            @media @tablet {
                                width: 44px;
                                height: 44px;
                            }
                        }
                        span {
                            width: auto;
                            padding: 0 10px;
                        }
                    }
                    &.basket-summary-amount {
                        vertical-align: bottom;
                    }
                }
            }
            &:last-child {
                td {
                    border: none;
                    color: @color-swatch6;
                    font-size: bkscale(@font-swatch3-font-size,0.8);
                    line-height: @font-swatch3-line-height;
                }
            }
        }
    }
    .basket-summary-legal-links {
        list-style: none;
        padding: 1em 0;
        a {
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

/* ===============================
  ECOM CATEGORIES LIST
   =============================== */

.widget.ecomcategorieslist .product-category ul.product-category-items {
    list-style: none;
    margin: 0;
    padding-left: 0;
}



